body {
  width: 80%;
  margin: 2rem auto;
  border: 2px solid orange;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", sans-serif;
  color: #000;
}

section {
  width: 90%;
  font-size: 100%;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  color: #b34700;
}

h2 {
  text-align: center;
  margin-top: 2em;
}

h3 {
  margin: 2em 0 1em 10%;
}

.indent {
  margin-left: 5%;
}

.indent10 {
  margin-left: 10%;
}

.narrow {
  margin: 2em 8%;
}

figcaption {
  color: blue;
}

og {
  color: #b34700;
}

ob {
  color: #4d3300;
}

bl {
  color: #008080;
}

.blue {
  color: #008080;
}

.purple {
  color: purple;
}

dg {
  color: #333333;
}

hr {
  margin-top: 3rem;
}

ul,
ol {
  line-height: 1.6;
}

.f-left {
  float: left;
  margin-right: 2rem;
}

.f-right {
  float: right;
}

figure {
  /* border: 1px solid green; */
  width: 100%;
  margin: 2.5rem 10%;
}

article {
  width: 100%;
  border: 1px solid blue;
}

.notes {
  background-color: #eee;
  border-radius: 8px;
  margin: 1.5rem 1rem;
  padding: 0.5em;
}

.notes-green {
  width: 80%;
  margin: 0 auto;
  border-left: 4px solid #44aa44;
  border-radius: 8px;
  font-size: 105%;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #efc;
}

.divider {
  width: 100%;
  height: 10px;
  background-color: #fd6;
}

img {
  margin-left: 5%;
  border: 1px solid orange;
}

table {
  font-family: arial, sans-serif;
  font-size: 75%;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

td,
th {
  border: 1px solid #cccccc;
  font-size: 1.1rem;
  text-align: left;
  padding: 0.4em;
}

/* tr:nth-child(odd) {
    background-color: #ded;
}

table.center {
    margin-left: auto;
} */

.ul-adjust {
  line-height: 140%;
  list-style-type: none;
}

.ul-adjust > li ul li {
  padding-left: 1em;
  list-style-type: none;
}

.ul-line-height {
  line-height: 160%;
  margin: 1.5em 1em;
}

.text-box-yellow {
  border-left: 4px solid #aa9966;
  /* margin-right: 1rem; */
  margin: 0 1rem 1rem 0;
  font-size: 100%;
  padding: 1rem;
  background-color: #eeeddd;
}

/* #ddffdd;*/
.text-box-green {
  width: 80%;
  margin: 2rem auto;
  padding: 0.4em;
  border-left: 4px solid #44aa44;
  border-radius: 8px;
  font-size: 100%;
  background-color: #eeffcc;
}

.text-box-blue {
  border-left: 4px solid #006680;
  font-size: 100%;
  padding-left: 0.3em;
  background-color: #ccfaff;
}

.center {
  display: block;
  width: 50%;
  margin: 1em auto;
}

footer {
  margin-top: 2em;
  border-top: 2px solid orange;
}
